<!DOCTYPE html>
<html lang="en">
<head>
	<title>Panic! At the DBC</title>
	<lan
</head>
<body>
	<h1>Listen, my dude</h1>
	<ul>
    <% @local_students.each do |student| %>
      <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
</body>
</html>